body {
  background: #eef8ff;
  text-align: center;
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 30px;
}

h2 {
  margin-bottom: 15px;
}

canvas {
  border: 2px solid #333;
  background: #cde9ff;
  border-radius: 10px;
}

#controls {
  margin: 15px 0;
}

label, select {
  font-size: 16px;
  margin-right: 10px;
}

button {
  margin: 0 5px;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #333;
  cursor: pointer;
}
